<body class='xnav-collapse xaside-hidden xshow-footer'>
  <header class='container-fluid'>
      <div class="d-flex justify-content-end">
        <div class='p-2 mr-auto'>&nbsp;</div>
        <div class="p-2">
            <a href='#' class='action'placement="bottom" ngbTooltip="Editor"><i class="fa fa-file-text"  aria-hidden="true"></i></a>
        </div>
        <div class="p-2">
            <a href='#' class='action'placement="bottom" ngbTooltip="Spreadsheet"><i class="fa fa-list-alt" aria-hidden="true"></i></a>
        </div>
        <div class="p-2">
            <a href='#' class='action'placement="bottom" ngbTooltip="Kanban"><i class="fa fa-newspaper-o" aria-hidden="true"></i></a>
        </div>
        <div class="p-2">
            <a href='#' class='action'placement="bottom" ngbTooltip="Synopsis"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
        </div>
        <div class="p-2">
            <a href='#' class='action'placement="bottom" ngbTooltip="Compile"><i class="fa fa-cog" aria-hidden="true"></i></a>
        </div>
      </div>
  </header>
  <nav>
    <div class='header'>Head</div>
    <div class='body'>Body</div>
    <div class='footer d-flex flex-row-reverse'>
      <span class="fa-stack fa-lg">
       <i class="fa fa-circle-o fa-stack-2x"></i>
       <i class="fa fa-plus fa-stack-1x"></i>
      </span>
      <div class='p-2' id='a-compress'>
        <a href='#' class='action' placement="right" ngbTooltip="Collapse Navigator"><i class="fa fa-compress" aria-hidden="true"></i></a>
      </div>
      <div class='p-2' id='a-expand'>
        <a href='#' class='action' placement="right" ngbTooltip="Expand Nav"><i class="fa fa-expand" aria-hidden="true"></i></a>
      </div>
    </div>
  </nav>

  <main>
    <div class='header'>Head</div>
    <div class='body'>mast
ballroom
orchestra
octopus
crown</div>
    <div class='footer'>Foot</div>
  </main>
  <aside>
    <div class='header'>Head</div>
    <div class='body'>Body</div>
    <div class='footer d-flex flex-row'>
      <div class="p-2">
        <a href='#' class='action' placement="left" ngbTooltip="Collapse Synopsis"><i class="fa fa-compress" aria-hidden="true" ></i></a>
      </div>
    </div>
</aside>
  <footer class=''>
FOOTER
  </footer>
</body>
