<div class="container-fluid">
  <div class="row">
    <aside class="toolbar col col-sm-1">
      Toolbar
    </aside>
    <aside class="notebook col col-sm-3 scroll-y">
      <h2>Notebook</h2>
      <ul>
        <li>ipsum lorem</li>
        <li>ipsum lorem</li>
        <li>ipsum lorem</li>
        <li>ipsum lorem</li>
        <li>ipsum lorem</li>
        <li>ipsum lorem</li>
        <li>ipsum lorem</li>
        <li>ipsum lorem</li>
        <li>ipsum lorem</li>
        <li>ipsum lorem</li>
        <li>ipsum lorem</li>
        <li>ipsum lorem</li>
        <li>ipsum lorem</li>
        <li>ipsum lorem</li>
        <li>ipsum lorem</li>
        <li>ipsum lorem</li>
        <li>ipsum lorem</li>
        <li>ipsum lorem</li>
        <li>ipsum lorem</li>
        <li>ipsum lorem</li>
        <li>ipsum lorem</li>
        <li>ipsum lorem</li>
        <li>ipsum lorem</li>
        <li>ipsum lorem</li>
        <li>ipsum lorem</li>
        <li>ipsum lorem</li>
        <li>ipsum lorem</li>
        <li>ipsum lorem</li>
        <li>ipsum lorem</li>
        <li>ipsum lorem</li>
      </ul>
    </aside>
    <main class='col editor col-sm-5 scroll-y'>
      <h2>Editor</h2>
    </main>
    <aside class="detail col col-sm-3 scroll-y">
      <h2>Synopsis</h2>
    </aside>
  </div>
</div>
