<nav class="navbar navbar-expand-md navbar-dark pg-green-back fixed-top">
  <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/images/scribesto.svg" width="36" height="36" alt="">
        <%= config.title %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="navbar-nav mr-auto float-right">
          <li class="nav-item">
            <a class="nav-link" href="/buy">Buy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/NodeBB/NodeBB/">Community</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/docs">Docs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/faq">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/discourse/discourse">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/support">Support</a>
          </li>
        </ul>
      </div>
      </div>
    </nav>
