
:host {
    display:block;
    background: -webkit-linear-gradient(-45deg, #769e84, #5fb57d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-45deg, #769e84, #5fb57d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-45deg, #769e84, #5fb57d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-45deg, #769e84, #5fb57d);

    height:100vh;
    position:relative;
}
.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align:center;
    padding-left:45px;
}
