<div class="vertical-center">
    <scribesto-card
        title="Angular Docs"
        description="Learn about the latest updates to the Angular framework."
        linkText="View Angular Docs"
        (click)="viewAngular()"></scribesto-card>
    <scribesto-card
        title="Electron Docs"
        description="Learn about the latest updates to the Electron framework."
        linkText="View Electron Docs"
        (click)="viewElectron()"></scribesto-card>
    <scribesto-card
        title="scribesto"
        description="Learn more about the Angular Electron scribesto or report an issue."
        linkText="View Repository"
        (click)="viewRepository()"></scribesto-card>
</div>
